<div class="container mt-3">

  <app-product [categories]="categories"></app-product>
  
    <div class="display-6">
        Alunos cadastrados
      </div>
      <div class="row">
        <div class="col-md-10 offset-md-1">
          <table class="table" id="studentsTable">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col" class="d-none d-md-table-cell">Email</th>
                <th scope="col" class="d-none d-md-table-cell">Telefone</th>
                <th scope="col" class="d-none d-md-table-cell">Curso</th>
                <th scope="col" class="d-none d-md-table-cell">Turno</th>
              </tr>
            </thead>
            <tbody>
              
            </tbody>
          </table>
        </div>
      </div>

</div>
